@chartset "UTF-8";
.home-carousel{
   width:1000px;
  margin:0px auto;  

}

table td{
	word-break: break-all;
}

.home-carousel a:visited{
	color:#ffffff;
}

.sc-home-row ol,.sc-home-row li, .no-style li{
	list-style:none;
}

.carousel-indicators {
position: absolute;
top: 15px;
right: 15px;
z-index: 5;
margin: 0;
list-style: none;
}

.carousel-indicators li {
	display: block;
	float: left;
	width: 10px;
	height: 10px;
	margin-left: 5px;
	text-indent: -999px;
	background-color: #ccc;
	background-color: rgba(255,255,255,0.25);
	border-radius: 5px;
    line-height:20px;
}

.carousel-indicators .active{
	background-color:#ffffff;
}

.sc-home{
    margin: 20px auto;
}

.sc-home .span6{
	width:15%;
	margin-left:10px;
    height: 112px;
}
.other .span6{
	width:75px;
}
.other .span_text{
	width: 65px;
	padding-top: 5px;
	text-align: center;
}
.sc-pg-hd h1{
	text-align: center;
	font-size: 20px;
	color: #999;
}
.sc-pg-hd{
padding-bottom: 0px;
margin: 10px 0px 20px;
}

.sc-home-row{
	width: 100%;
	margin: 0px auto;
}

.sc-home li{
	float:left;
}

.sc-home-item{
	display: block;
	width:200px;
	height: 39px;
	padding-top: 90px;
	color: #999;
	text-align: center;
/*	background: url(/static/images/nav_icons.png?v=20130716) no-repeat 70px 20px;*/
	transition: background-color .5s;
	-moz-transition: background-color .5s;
	-o-transition: background-color .5s;
	-webkit-transition: background-color .5s;
}
.sc-home-item:hover{
	background-color:#ebf5fe;
	text-decoration: none;
}
.sc-home .well{
	text-align:center;
	font-size:15px;
}
.sc-home .well:hover{
	background-color:#91AECC;
	color:white;
}
.sc-home .pull-left{
	width: 127px;
}



.sc-home-ul{
	width: 1000px;
	margin: 0 auto;
	position: relative;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
	background:#f8f8f8;
	padding-left:0px;
}
.sc-home-title{
	position: absolute;
	left: -40px;
	top: -1px;
	height: 105px;
	padding-top: 26px;
	width: 40px;
	background: #f0f0f0;
	color: #666;
	text-align: center;
	line-height: 18px;
}
.sc-home-title:hover{
	background-color:#D3D3D3;
	text-decoration: none;
}

.quick-get{
	height:500px;
}

.icon-kpi,.icon-index{
	background: url(/static/images/nav_icons.png?v=20130716) no-repeat 70px 20px;
}
.icon-domain,.icon-data{
    background: url(/static/images/nav_icons.png?v=20130716) no-repeat -177px 20px;
}
.icon-site{
	background: url(/static/images/nav_icons.png?v=20130716) no-repeat -177px 20px;
}
.icon-active,.icon-sitemap,.icon-user{
	background: url(/static/images/nav_icons.png?v=20130716) no-repeat -425px 20px;
}
.icon-exp,.icon-cexp{
	background: url(/static/images/nav_icons.png?v=20130716) no-repeat -666px 20px;
}
.bottom-nav-txt{
	margin-left:5px;
}
.bottom-nav-tit{
    font-size: 14px;
}
#show_more{
	width:60px;
}
.mr10, .dialogue  button.reset_btn {
	margin-right: 5px;
}

#textarea_pv{
width:10%;
height:400px;
overflow:auto;
}

#textarea_url{
width:85%;
height:400px;
overflow:auto;
margin-left:1%;
}
#search_btn{
background-color: #006dcc !important;
color: #fff !important;
font-weight: normal;
box-shadow: none;
width: 71px;
height: 30px;
line-height:30px;
text-shadow: none;
}

#new_requirement{
background-color: #349d59 !important;
color: #fff !important;
font-weight: normal;
box-shadow: none;
width: 71px;
height: 30px;
line-height:30px;
text-shadow: none;
}

#fc_new_filecheck{
background-color: #349d59 !important;
color: #fff !important;
font-weight: normal;
box-shadow: none;
width: 105px;
height: 30px;
line-height: 30px;
text-shadow: none;
}

#update_schema_id{
background-color: #006dcc !important;
color: #fff !important;
font-weight: normal;
box-shadow: none;
width: 71px;
height: 30px;
line-height:30px;
text-shadow: none;
}

.gradeA .indexs_down {
display: inline-block;
width: 18px;
height: 18px;
background: url(/static/images/icon_down.png);
}

.gradeA  .indexs_up {
display: inline-block;
width: 18px;
height: 18px;
background: url(/static/images/icon_up.png);
}

.field-self-def{	
background-color: #F7F8FA;	
padding: 0px 1px 6px 1px;	
border: 1px solid #ddd;
}
.legend-self-def{	
background: #E6ECEE;	
width: 100px;	
color: #4F8EC0;	
font-weight: bold;	
padding: 0px 0px 0px 23px;	
margin-left: 22px;	
border: 1px solid rgb(203, 212, 221);
}
.clear{
margin-bottom: 0px;
}
.wid-550{
	width:550px;
}
.sc-ul-type{
	list-style-type: none;
	padding-left: 0px;
	margin-top: 0.5em;
}
.important{
	color:red;
}
.notice-date{
	color:#f89406;
}
.info{	background-color:#d9edf7;}
.no-display{	display:none;}
.list-title{	margin:5px;	}
.right{	float: right;}
#slidePage a{	border: 1px solid #dddddd !important;}
#slidePage ul{	margin:0px 0px 0px 0px;	padding-left:0px;}
.total-num{	float: right;	height: 40px;	line-height: 40px;	margin-right: 10px;}
.reset_btn ,.reset_btn:hover{	text-shadow:none;	font-weight:normal !important;	box-shadow:0 1px 2px rgba(0,0,0,0.3)!important;}
.reset_btn:hover {	border: 1px solid #04C !important;	background: #04C !important;}
.reset_btn {	color: #fff !important;  	border: 1px solid #04C !important;	background: #006dcc !important;}
.reset_btn_gray,.reset_btn_gray:hover{	text-shadow: none !important;	font-weight:normal !important;	height: 27px;	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05) !important;}
.reset_btn_gray {	color: #333 !important;  	border: 1px solid #CCC !important;	background: #F5F5F5 !important;}
.reset_btn_gray:hover {	border: 1px solid #CCC !important;	background: #E6E6E6 !important;}

.dialogue{
	width: 500px;
	height: 332px;
	margin:auto;
	background-color: #FCFCFC;
	border: 1px solid #E6E6E6;
	border-radius: 4px;
	position: absolute;
	z-index: 900;
	zoom: 1;
	overflow: hidden;
	box-shadow: 0 0 6px #999;
}
.dialogue .title{
	height:40px;
	line-height:40px;
	background-color:#F5F5F5;
	border-bottom: 1px solid #E6E6E6;
}
.dialogue .detail .form-horizontal{
	margin-top:15px;
}

.dialogue .title .title-desc{
	margin-left: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #5187CC;
}
#type_id{
	height: 25px;
	line-height: 25px;
}

.dialogue-cls{
	width: 18px;
	height: 18px;
	margin-top: 12px;
	background: url(../images/dialog_close.png);
	margin-right: 10px;
	float: right;
	font-size: 16px;
	font-weight: bolder;
	text-decoration: none;
	cursor: pointer;
	font-family: 微软雅黑;
}
.dialogue-cls:hover{
	text-decoration: none;
	color:#3C2DEB;
}

.dialogue .form-horizontal .controls{
	margin-left:115px;
}
.dialogue .form-horizontal .control-label{
	width:90px;
} 
.dialogue .form-horizontal .control-group{
	margin-bottom:10px;
}
.b-canvas {	
	z-index: 890;	
	background: #000;	
	opacity: 0;	
	position: absolute;
}
input.type-span{
	margin-bottom:0px;
}

#assoc-types{
	width:930px;
}
#assoc-types .items{
	width:300px;
	overflow:hidden;
	display:inline-block;
}
#assoc-types label{
	font-weight:normal;
}

.act_pic_area li{
    width: 310px;
    list-style-type: none;
    display: inline-block;
    text-align: center;
    font:bold 16px Arial;
    color:blue;
}
.act_pic_area img{
    height: 76px;
}

h4 .icon-plus{
    margin-top: 3px;
}

#editor {   
max-height: 250px;  height: 250px;  background-color: white;    border-collapse: separate;  border: 1px solid rgb(204, 204, 204);   padding: 4px;   box-sizing: content-box;   
 -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;     
box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
border-top-right-radius: 3px; border-bottom-right-radius: 3px;  
border-bottom-left-radius: 3px; border-top-left-radius: 3px;    overflow: scroll;   outline: none;}
#voiceBtn {  width: 20px;  color: transparent;  background-color: transparent;  transform: scale(2.0, 2.0);
  -webkit-transform: scale(2.0, 2.0);  
	-moz-transform: scale(2.0, 2.0);  
	border: transparent;  
	cursor: pointer;  
	box-shadow: none;  
	-webkit-box-shadow: none;
}
div[data-role="editor-toolbar"] {  
	-webkit-user-select: none;  
	-moz-user-select: none;  
	-ms-user-select: none;  
	user-select: none;
}
.dropdown-menu a {  cursor: pointer;}                                                                                      .accordion-heading{                                                                                                 
    font-size: 14px;                                                                                                
    font-weight: bold;                                                                                              
    background-color:#F3F3F3;                                                                                       
}                                                                                                                   
.accordion-heading a:hover,.col-detail a{                                                                           
    text-decoration: none;                                                                                          
}                                                                                                                   
.accordion-heading i{                                                                                               
    margin-top: 4px;                                                                                                
}                                                                                                                   
.accordion-body{                                                                                                    
    background-color:#FCFCFC;                                                                                       
}                                                                                                                   
.items-class{                                                                                                       
    background-color: #EEE;                                                                                         
    width: 385px;                                                                                                   
    height: 175px;                                                                                                  
    margin-top: 5px;                                                                                                
    border: 1px solid #D6D6D6;                                                                                      
    border-radius: 2px;                                                                                             
}                                                                                                                   
.items-class table{                                                                                                 
    margin:7px;                                                                                                     
    height:100px;                                                                                                   
}
.items-class td{                                                                                                    
    padding-left:5px;     
		padding-top: 2px;                                                                                          
}                                                                                                                   
.items-class .i-lab{
    text-align:right;
}

.top-banner{
	height: 178px;
	width:1100px;
	margin: auto;
}

h3.header{
	color: #333;
}

.main-container{
	height: 500px;
	width:1100px;
	margin: auto;
}
.main-part-1{
	float: left;
	width: 60%;
	height: 400px;
	margin-left: 4%;
}
.main-part-2{
	float: right;
	width: 20%;
	height: 560px;
	margin-top: 18px;
	margin-right: 8%;
}

.ul-block{
	padding: 10px 0px;
	height: 107px;
/*	border: 1px solid;*/
}

.li-block{
	display: inline-block;
	width: 210px;
	margin-left: 40px;
	height: 105px;
	padding:15px;
	border-radius: 5px; 
	cursor:pointer;
}

.li-block:hover .stat-icon{
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg); 
	font-size: 65px;
	cursor: pointer;
	opacity: 0.5;
}
.li-block:hover .value{
	font-size: 40px;
}

.bg-green{
	background-color: #9AD268;
	margin-left: 0px;
	color: #FFF;
}
.bg-orange{
	background-color: #FFC545;
	color: #FFF;
}
.bg-blue{
	background-color: #4DD4FD;
	color: #FFF;
}
.bg-red{
	background-color: #A93922;
	color: #FFF;
}
.stat-icon{
	display: inline-block;
	float: left;
	font-size: 50px;
	line-height: 83px;
	transition: all 0.8s ease;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-ms-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
}

.li-block .value{
	font-size: 36px;
	line-height: 85px;
	height: 85px;
}

.li-block .title{
	font-size: 14px;
	line-height: 22px;
	height: 22px;
	margin-right: 10px;
	margin-top: -15px;
}

.body-block .pull-right{
	width: 127px;
}

.top{
	background-color: #FAFAFA;
	height: 182px;
	border: 1px solid #DDD;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.orange{
	color: #FF892A!important;
}
.blue{
	color: #478FCA!important;
}
.green{
	color: #9AD268!important;
}
.red{
	color: #A93922!important;
}
.light-blue{
	color: #4DD4FD!important;
}
.bigger-125{
	font-size: 28px;
}
.bigger-20{
	font-size: 20px;
}
.main-part-item h3{
	border-bottom: 1px solid #DFDFDF;
	font-weight: lighter;
	padding: 5px;
}

.main-part-item{
	margin-bottom: 45px;
}

.main-part-item li{
	display: inline-block;
	width: 106px;
	font-size: 14px;
	text-align: center;
}
.font-20{
	font-size:20px;
}
.tool-items li{
	width:175px;
}
.box-title-text, .timeline-title{
	margin-top: 18px;
	font-size: 16px;
}
.box-title{
	border-bottom:1px solid #DDD;
	padding:3px;
	height: 22px;
	line-height: 22px;
	background-color: #F0F0F0;
}
.box-container{
	overflow: hidden;
	padding: 5px;
}
#marquee{
	margin-top: 0px;
}
#marquee li{
	width: 238px;
	line-height: 26px;
	height: 26px;
	border-bottom: 1px dotted #ddd;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#marquee li:hover{
	cursor: pointer;
}
.widget-box{
	height: 200px;
	border:1px solid #DDD;
	background-color: #FAFAFA;
	border-radius: 3px;
}
.timeline-box{
	height: 250px;
	padding: 5px;
}
.timeline-title{
	border-bottom:1px solid #DDD;
	padding:3px;
	height: 22px;
	line-height: 22px;
}

.timeline-container {
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-origin: padding-box;
	background-size: auto;
	color: #393939;
	display: block;
	font-size: 13px;
	font-weight: normal;
	height: 222px;
	width: 280px;
	line-height: 19px;
	margin-bottom: 32px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	overflow-x: visible;
	overflow-y: visible;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 4px;
}
.time-content{
	position: relative;
	margin-top:5px;
}

.timeline-style2 .timeline-label {
	display: block;
	width: 57px;
	margin-left: 0px;
	margin-bottom: 10px;
	text-align: right;
	color: #666;
	font-size: 14px;
}

.timeline-style2 .timeline-item::before {
	content: '';
	display: block;
	position: absolute;
	left: 90px;
	top: 5px;
	bottom: -5px;
	border-width: 0px;
	background-color: rgb(221, 221, 221);
	width: 2px;
	max-width: 2px;
}
.timeline-style2 .timeline-item {
	padding-bottom: 22px;
	margin-bottom: 0px;
}

.timeline-item {
	position: relative;
	margin-bottom: 8px;
}

.timeline-style2 .start{
	padding-bottom: 4px;
}

.timeline-style2 .timeline-date {
	display: inline-block;
	width: 52px;
	text-align: right;
	margin-right: 25px;
	color: #777;
}
.timeline-style2 .timeline-info {
	width: 100px;
}
.timeline-info {
	float: left;
	width: 60px;
	text-align: center;
	position: relative;
}
.no-hover{
	background-color: #FFF;
}
.bigger-110{
	padding-left: 5px;
}
.light-gray{
	color: #595C66;
}
