<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
<head>
<title>Index of /home/work/ec_test_service/src/views/run on cp01-testing-ps6076.cp01.baidu.com:21</title>
</head>
<body>
<h1>Index of /home/work/ec_test_service/src/views/run on cp01-testing-ps6076.cp01.baidu.com:21</h1>
<hr>
<pre>
  2015 Jan 04 14:37  File        <a href="ftp://cp01-testing-ps6076.cp01.baidu.com:21/home/work/ec_test_service/src/views/run/edit.tpl">edit.tpl</a>  (5,560 bytes)
  2015 Jan 04 14:37  File        <a href="ftp://cp01-testing-ps6076.cp01.baidu.com:21/home/work/ec_test_service/src/views/run/index.php">index.php</a>  (12,940 bytes)
  2015 Jan 04 14:37  File        <a href="ftp://cp01-testing-ps6076.cp01.baidu.com:21/home/work/ec_test_service/src/views/run/localrun.tpl">localrun.tpl</a>  (19,649 bytes)
  2015 Jan 04 14:37  File        <a href="ftp://cp01-testing-ps6076.cp01.baidu.com:21/home/work/ec_test_service/src/views/run/original_index.tpl">original_index.tpl</a>  (1,806 bytes)
  2015 Jan 04 14:37  File        <a href="ftp://cp01-testing-ps6076.cp01.baidu.com:21/home/work/ec_test_service/src/views/run/runlog.php">runlog.php</a>  (4,692 bytes)
  2015 Jan 04 14:37  File        <a href="ftp://cp01-testing-ps6076.cp01.baidu.com:21/home/work/ec_test_service/src/views/run/runresult.tpl">runresult.tpl</a>  (12,153 bytes)
  2015 Jan 04 14:37  File        <a href="ftp://cp01-testing-ps6076.cp01.baidu.com:21/home/work/ec_test_service/src/views/run/showERR.php">showERR.php</a>  (2,704 bytes)
  2015 Jan 04 14:37  File        <a href="ftp://cp01-testing-ps6076.cp01.baidu.com:21/home/work/ec_test_service/src/views/run/showLog.php">showLog.php</a>  (2,653 bytes)
  2015 Jan 04 14:37  File        <a href="ftp://cp01-testing-ps6076.cp01.baidu.com:21/home/work/ec_test_service/src/views/run/strategy_1.tpl">strategy_1.tpl</a>  (16,089 bytes)
  2015 Jan 04 14:37  File        <a href="ftp://cp01-testing-ps6076.cp01.baidu.com:21/home/work/ec_test_service/src/views/run/strategy_2.tpl">strategy_2.tpl</a>  (6,493 bytes)
</pre>
</body>
</html>
